@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.ALL {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.mainP {
	margin-top: 100px;
	min-Height: 300px;
	margin: 5px 10px 0 10px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}


.Subcard {
	background: #fff;
	box-shadow: 0px 14px 80px rgba(33, 35, 58, 0.5);
	min-height: 300px;
	width: 400px;
	border-radius: 25px;
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: box-shadow 0.5s ease;


	background-color: #f0f0f0;
	border: 0.000001px solid #96cbe3;
	/* padding: 10px;
	margin: 10px; */

}

.Subcard:hover {
	box-shadow: 0px 10px 10px rgba(34, 58, 36, 0.8);
}



.Subcard h3 {
	padding-left: 5px;
	margin-top: 8px;
	font-size: 24px;
	color: #333;
	text-transform: capitalize;
	font-weight: bold;
	white-space: normal;
	overflow: hidden;
}

.Subcard h5 {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	margin: 5px 0;
	color: #414040;
	font-weight: normal;
	line-height: 1.2;
	white-space: normal;
	overflow: hidden;
}

.Subcard .Subtitle {
	text-align: left;
	color: rgb(4, 183, 4);
	font-weight: bold;
	align-items: center;
	font-size: 15px;
	margin: 10px;
}



.subrateB {
	background-color: #1F485B;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	margin: 10px;
	margin-bottom: 4px;
	margin-left: 35px;
}

.subrateB:hover {
	background-color: #2bd325;
}

.Subcard .Subdesc {
	padding: 0.5rem 1rem;
	font-size: 15px;
	justify-content: space-between;
	min-height: max-content;
}

.Subcard-text {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	margin: 0;
}

.Subtitle-total {
	align-items: center;
	width: 100%;
	min-height: 300px;
	max-width: 230px;
}


.img-Subportada {
	width: 100%;
}


.Subportada {
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-position: center;
	background-size: cover;
}

.rating {
	font-size: 1.5rem;
	color: #FFD700;
	text-align: center;
	margin-top: auto;
	margin: 10px 0;
}

.star {
	display: inline-block;
	margin-right: 5px;
}


.rating14-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}


button.subButton14 {
	background-color: #1F485B;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

button.subButton14:hover {
	background-color: #2bd325;
}