.underlined {
	/* background: red; */
	position: relative;
}

.underline-mask:after {
	content: '';
	position: absolute;
	top: 95%;
	width: 150%;
	aspect-ratio: 3 / 1;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50%;
	border: 6px solid hsl(107, 100%, 65%);
	/* Use a conic gradient mask to hide and show the bits you want */
	--spread: 140deg;
	--start: 290deg;
	mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}