/* Reset some default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.Appointmenthero {
	background-image: url("sss3.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.Appointmenthero-content {
	max-width: 1000px;
	margin: 0 auto;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: 70px;
	position: absolute;
	top: 43%;
	left: 30%;
	transform: translate(-50%, -50%);
	    text-align: left;
  }
  


.AppointmentH1 {
	font-size: 70px;
	text-align: left;
	color: #1F485B;
}

.AppointmentP1 {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: left;
	color: #1F485B;
}

.Appointmentbtn {
	display: inline-block;
	padding: 15px 30px;
	background-color: #1F485B;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 25px;
	transition: background-color 0.3s;
}

.Appointmentbtn:hover {
	background-color: #143140;
}